services:
  backend:
    container_name: project-manage-backend
    build:
      context: ../backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "${SERVER_PORT:-8081}:8081"
    environment:
      SERVER_PORT: 8081
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: ${DB_NAME:-erp_db}
      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-postgres}
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
    networks:
      - app-network

  frontend:
    container_name: project-manage-frontend
    build:
      context: ../frontend-web
      dockerfile: Dockerfile
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  postgres:
    container_name: project-manage-postgres
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-erp_db}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    container_name: project-manage-redis
    image: redis:7-alpine
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    networks:
      - app-network

volumes:
  postgres_data:


networks:
  app-network:
    driver: bridge
