spring:
  application:
    name: project-manage-backend
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5433}/${DB_NAME:erp_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6380}
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB

server:
  port: ${SERVER_PORT:8081}

github:
  token: ${GITHUB_TOKEN:ghp_placeholder}
  org:
    name: ${GITHUB_ORG_NAME:bill-project-manage-system}
    token: ${GITHUB_ORG_TOKEN:ghp_placeholder}
